<!-- <div class="container-fluid"> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-3 py-3 px-0 left-section chatter-bg-primary border-right">
      <div class="profile px-3 d-flex align-items-center">
        <div class="profile__avatar">
          <img src="https://static.toiimg.com/photo/72975551.cms" alt="">
        </div>
        <div class="profile__name ml-2">Rohit Chopra</div>
      </div>
      <div class="search px-3 mt-3">
        <div class="position-relative">
          <span class="material-icons position-absolute search-button"> search </span>
          <input type="search" placeholder="Search people" class="px-4 w-100 border rounded">
        </div>
      </div>
      <div class="mt-3 border-bottom"></div>
      <div class="user-list mt-3">
        <div class="user p-3 active d-flex align-items-center">
          <div class="user__avatar">
            <img src="https://static.toiimg.com/photo/72975551.cms" alt="" srcset="">
          </div>
          <div class="user__info ml-2">
            <div class="user__info--name">Devender</div>
            <div class="user__info--status">Last active 5 mins ago</div>
          </div>
        </div>
        <div class="user p-3 d-flex align-items-center">
          <div class="user__avatar">
            <img src="https://static.toiimg.com/photo/72975551.cms" alt="" srcset="">
          </div>
          <div class="user__info ml-2">
            <div class="user__info--name">Devender</div>
            <div class="user__info--status">Last active 5 mins ago</div>
          </div>
        </div>
        <div class="user p-3 d-flex align-items-center">
          <div class="user__avatar">
            <img src="https://static.toiimg.com/photo/72975551.cms" alt="" srcset="">
          </div>
          <div class="user__info ml-2">
            <div class="user__info--name">Devender</div>
            <div class="user__info--status">Last active 5 mins ago</div>
          </div>
        </div>
        <div class="user p-3 d-flex align-items-center">
          <div class="user__avatar">
            <img src="https://static.toiimg.com/photo/72975551.cms" alt="" srcset="">
          </div>
          <div class="user__info ml-2">
            <div class="user__info--name">Devender</div>
            <div class="user__info--status">Last active 5 mins ago</div>
          </div>
        </div>
        <div class="user p-3 d-flex align-items-center">
          <div class="user__avatar">
            <img src="https://static.toiimg.com/photo/72975551.cms" alt="" srcset="">
          </div>
          <div class="user__info ml-2">
            <div class="user__info--name">Devender</div>
            <div class="user__info--status">Last active 5 mins ago</div>
          </div>
        </div>
        <div class="user p-3 d-flex align-items-center">
          <div class="user__avatar">
            <img src="https://static.toiimg.com/photo/72975551.cms" alt="" srcset="">
          </div>
          <div class="user__info ml-2">
            <div class="user__info--name">Devender</div>
            <div class="user__info--status">Last active 5 mins ago</div>
          </div>
        </div>
        <div class="user p-3 d-flex align-items-center">
          <div class="user__avatar">
            <img src="https://static.toiimg.com/photo/72975551.cms" alt="" srcset="">
          </div>
          <div class="user__info ml-2">
            <div class="user__info--name">Devender</div>
            <div class="user__info--status">Last active 5 mins ago</div>
          </div>
        </div>
        <div class="user p-3 d-flex align-items-center">
          <div class="user__avatar">
            <img src="https://static.toiimg.com/photo/72975551.cms" alt="" srcset="">
          </div>
          <div class="user__info ml-2">
            <div class="user__info--name">Devender</div>
            <div class="user__info--status">Last active 5 mins ago</div>
          </div>
        </div>
        <div class="user p-3 d-flex align-items-center">
          <div class="user__avatar">
            <img src="https://static.toiimg.com/photo/72975551.cms" alt="" srcset="">
          </div>
          <div class="user__info ml-2">
            <div class="user__info--name">Devender</div>
            <div class="user__info--status">Last active 5 mins ago</div>
          </div>
        </div>
        <div class="user p-3 d-flex align-items-center">
          <div class="user__avatar">
            <img src="https://static.toiimg.com/photo/72975551.cms" alt="" srcset="">
          </div>
          <div class="user__info ml-2">
            <div class="user__info--name">Devender</div>
            <div class="user__info--status">Last active 5 mins ago</div>
          </div>
        </div>
        <div class="user p-3 d-flex align-items-center">
          <div class="user__avatar">
            <img src="https://static.toiimg.com/photo/72975551.cms" alt="" srcset="">
          </div>
          <div class="user__info ml-2">
            <div class="user__info--name">Devender</div>
            <div class="user__info--status">Last active 5 mins ago</div>
          </div>
        </div>
        <div class="user p-3 d-flex align-items-center">
          <div class="user__avatar">
            <img src="https://static.toiimg.com/photo/72975551.cms" alt="" srcset="">
          </div>
          <div class="user__info ml-2">
            <div class="user__info--name">Devender</div>
            <div class="user__info--status">Last active 5 mins ago</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9"> Chat window </div>
  </div>
</div>
