<!-- <div class="container-fluid"> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-3 py-3 chatter-bg-primary border-right">
      <div class="profile d-flex align-items-center">
        <div class="profile__avatar">
          <img src="https://static.toiimg.com/photo/72975551.cms" alt="">
        </div>
        <div class="profile__name ml-2">Rohit Chopra</div>
      </div>
      <div class="search mt-3">
        <div class="position-relative">
          <span class="material-icons position-absolute search-button"> search </span>
          <input type="search" placeholder="Search people" class="px-4 w-100 border rounded">
        </div>
      </div>
    </div>
    <div class="col-9"> Chat window </div>
  </div>
</div>
