<!-- <div class="container-fluid"> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-3 pb-3 px-0 left-section chatter-bg-primary border-right">
      <div class="header pt-3 position-sticky ">
        <div class="profile px-3 d-flex align-items-center">
          <div class="profile__avatar">
            <img src="https://static.toiimg.com/photo/72975551.cms" alt="">
          </div>
          <div class="profile__name ml-2">Rohit Chopra</div>
        </div>
        <div class="search px-3 mt-3">
          <div class="position-relative">
            <span class="material-icons position-absolute search-button"> search </span>
            <input type="search" placeholder="Search people" class="px-4 w-100 border rounded">
          </div>
        </div>
        <div class="mt-3 border-bottom"></div>
      </div>
      <div class="user-list mt-3">
        <div class="user p-3 d-flex align-items-center" [ngClass]="{'active':user._id === chatActiveWith?._id}"
          (click)="loadMessages(user)" *ngFor="let user of users">
          <div class="user__avatar">
            <img src="https://static.toiimg.com/photo/72975551.cms" alt="" srcset="">
          </div>
          <div class="user__info ml-2">
            <div class="user__info--name">{{user.name}}</div>
            <div class="user__info--status">Last active 5 mins ago</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9 right-section">
      <div class="chat position-relative">
        <div class="person__details">
          <div class="person__details--name font-weight-bold mt-2">Devender arora</div>
          <div class="person__details--status">Last seen 4h ago</div>
          <div class="mt-3 border-bottom"></div>
        </div>
        <div class="chat__messages d-flex flex-column">
          <div class="message"
            [ngClass]="{'ours':message.from===currentUser?._id, 'theirs': message.from!==currentUser?._id}"
            *ngFor="let message of userMessages$ | async"> {{message.data}} </div>
        </div>
        <div class="w-100 chat__send position-absolute d-flex align-items-center p-3">
          <div class="chat__send--text">
            <input #chatTextEl type="text" class="w-100">
          </div>
          <div class="chat__send--action d-flex align-items-center">
            <span class="material-icons ml-2" (click)="sendMessage(chatTextEl.value)"> send </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
